/* Coolors Exported Palette - coolors.co/54416f-e0620e-2d7991-553e4e-e0479e */


$secondary: rgba(84, 65, 111, 1);
$accent: rgba(224, 98, 14, 1);
$primary: rgba(45, 121, 145, 1);
$secondary2: rgba(85, 62, 78, 1);
$accent2: rgba(224, 71, 158, 1);
